<div class="field">
  <div class="container field__container">
    <div class="ringsizer">
      <div class="ringsizer__item">
        <svg class="ringsizer-img">
          <use xlink:href="img/sprite.svg#ring"></use>
        </svg>
      </div>
    </div>
    <div class="tabs" data-tabs="">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="size-1 btn-reset tabs__nav-btn" type="submit">15 (14.86mm)</button></li>
        <li class="tabs__nav-item"><button class="size-2 btn-reset tabs__nav-btn" type="submit">15.5 (15.27mm)</button></li>
        <li class="tabs__nav-item"><button class="size-3 btn-reset tabs__nav-btn" type="submit">15.75 (15.70mm)</button></li>
        <li class="tabs__nav-item"><button class="size-4 btn-reset tabs__nav-btn" type="submit">16 (16.10mm)</button></li>
        <li class="tabs__nav-item"><button class="size-5 btn-reset tabs__nav-btn" type="submit">16.5 (16.51mm)</button></li>
        <li class="tabs__nav-item"><button class="size-6 btn-reset tabs__nav-btn" type="submit">17 (16.92mm)</button></li>
        <li class="tabs__nav-item"><button class="size-7 btn-reset tabs__nav-btn" type="submit">17.25 (17.35mm)</button></li>
        <li class="tabs__nav-item"><button class="size-8 btn-reset tabs__nav-btn" type="submit">17.75 (17.75mm)</button></li>
        <li class="tabs__nav-item"><button class="size-9 btn-reset tabs__nav-btn" type="submit">18 (18.19mm)</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel"></div>
        <div class="tabs__panel"></div>
        <div class="tabs__panel"></div>
      </div>
    </div>
  </div>
</div>
